/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Lab Grotesque", sans-serif;
  color: #fff;
  font-size: 14px;
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #5383C7;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1210px;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background    
  color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future
*/
  /* Prevent the screen reader to skip spaces
  between words */
  white-space: nowrap;
}

.none {
  display: none !important;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 758px;
  padding: 32px 0 120px 0;
  background: url("./../img/header/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__maintop-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 285px;
}

.header__subtop-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
}

.header__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  max-width: 870px;
}

.header__maintitle {
  font-weight: 500;
  font-size: 72px;
  padding-bottom: 20px;
  margin: 16px 0 20px 0;
}

.header__description {
  font-size: 18px;
  font-weight: 400;
}

.header__request {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-end;
}

.header__mainphoto {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 21px 0;
  text-align: center;
  color: #000;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Lab Grotesque";
  width: 280px;
}

.nav {
  font-size: 18px;
}

.nav__list {
  display: flex;
  column-gap: 62px;
}

.nav__list1 {
  display: flex;
  text-align: right;
  column-gap: 32px;
}

.nav-top {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.8;
}

.about {
  padding-top: 140px;
  color: #222733;
}

.about__title {
  display: flex;
  justify-content: flex-end;
}

.about__maintitle {
  font-size: 40px;
  font-weight: 700;
}