/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Lab Grotesque", sans-serif;
  color: #fff;
  font-size: 14px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #5383C7;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1210px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 758px;
  padding: 32px 0 120px 0;
  background: url("./../img/header/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__maintop-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 285px;
}

.header__subtop-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 19px;
}

.header__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.header__texts {
  max-width: 870px;
  width: 870px;
}

.header__subtitle {
  padding-bottom: 16px;
  font-weight: 400;
}

.header__maintitle {
  font-weight: 500;
  font-size: 72px;
  padding-bottom: 20px;
}

.header__description {
  font-size: 18px;
  font-weight: 400;
}

.header__request {
  text-align: right;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.header__mainphoto {
  padding-top: 44px;
  padding-bottom: 82px;
}

.header-button {
  padding: 21px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #fff;
  color: #222733;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
}

.nav {
  font-size: 18px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 62px;
     -moz-column-gap: 62px;
          column-gap: 62px;
}

.nav__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.nav-top {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.8;
}