.about {
    padding-top: 140px;
    color: $dark;
}

.about__title {
    display: flex;
    justify-content: flex-end;
}
.about__maintitle {
    font-size: 40px;
    font-weight: 700;

}
.about__blocks {
}
.about_description {
}
.about_text1 {
}
.about_text2 {
}
.about__button {
}