.about {
    padding: 140px 0;
    color: $dark;
}

.about__text-wrapper {
    display: flex;
    justify-content: space-between;
}

.about__text {
}

.about_mintitle {
    font-weight: 400;
}

.about__title {
    
    max-width: 870px;
    margin-bottom: 80px;
}


.about__description {
    display: flex;
    gap: 112px;
    justify-content: space-between;
    margin: 60px 0;
}
.about_textleft {
    font-weight: 300;
}
.about_textright {
    font-weight: 300;
}
.about__button {
}