.header {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 758px;
    padding: 32px 0 120px 0;
    

    background: url('./../img/header/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__maintop-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 285px;
}

.header__subtop-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
}


.header__blocks {
    display: flex;
    text-align: left;
}

.header__texts {
    max-width: 870px;
    width: 870px;
}
.header__subtitle {
    padding-bottom: 16px;
    font-weight: 400;
}
.header__maintitle {
    font-weight: 500;
    font-size: 72px;
    padding-bottom: 20px;
}
.header__description {
    font-size: 18px;
    font-weight: 400;
}


.header__request {
    text-align: right;
    width: min-content;
}

.header__mainphoto {
    padding-top: 44px;
    padding-bottom: 82px;
}

.header-button {
    padding: 21px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $white;
    color: $dark;
    font-size: 18px;
    font-weight:500;
    width: 200px;
}