.header {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 758px;
    padding: 32px 0 120px 0;
    

    background: url('./../img/header/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__maintop-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 285px;
}

.header__subtop-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
}


.header__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    max-width: 870px;
}
.header__maintitle {
    font-weight: 500;
    font-size: 72px;
    padding-bottom: 20px;
    margin: 16px 0 20px 0;
}
.header__description {
    font-size: 18px;
    font-weight: 400;
}

.header__request {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-end;
}

.header__mainphoto {
    max-width: 100%;
    height: auto;
}


.button {
    display: inline-block;
    padding: 21px 0;
    text-align: center;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Lab Grotesque";
    width: 280px;
}