.nav {
    font-size: 18px;
}

.nav__list {
    display: flex;
    column-gap: 62px;
}

.nav__list1 {
    display: flex;
    text-align: right;
    column-gap: 32px;
    
}

.nav-top {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    
}

