.about__stats-item {
    min-width: 180px;
    max-height: 44px;
}

.about__stats-item-number {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 16px;
}

.about__stats-item-text {
    font-weight: 300;
    font-size: 16px;
}