//font-family: 'Nunito Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

$font-main: 'Lab Grotesque', sans-serif;

// Colors

$dark: #222733;
$white: #fff;
$color-btn: #5383C7;
$color-header: #161C2D;